
.modal-content{
  width:100%;
  height:100%;
  top:0;
  padding-right:20%;
  padding-left:20%;
  padding-top: 5%;
  position:fixed;
  overflow: scroll;
  background-color:rgba(0,0,0,0.5);
}

.modal-body{
  background-color: white;
}
.modal-header{
  background-color: white;
  padding-top:10px;
  padding-bottom:30px;
}
.modal-footer{
  background-color: white;
  padding-top:15px;
  padding-bottom:30px;
}
